@font-face {
font-family: 'SEGA LOGO FONT';
font-style: normal;
font-weight: normal;
src: local('SEGA LOGO FONT'), url('./SEGA.woff') format('woff');
}

h1 {
    font-family: 'SEGA LOGO FONT';
    font-size: 80px;
    font-weight: 200;
    color: rgb(252, 232, 3);
}

